[submodule "STM32CubeF1"]
	path = STM32CubeF1
	url = https://github.com/STMicroelectronics/STM32CubeF1.git
[submodule "buildsystem"]
	path = buildsystem
	url = http://gitlab.allthingsembedded.net/Javier_varez/buildsystem.git
